<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(35, 79, 167)">

  <img id="navImg" src="../assets/img/nbaLogo.png">

  <a href="/" class="navbar-brand">NBA FANBOI</a>
  <div id="images">
    <img id="bounceimg" src="../assets/img/bounce.gif"><img id="hoop" src="../assets/img/hoop.png">
  </div>

  <div id="navBtns" class="row">
    <div id="teamsBtn">
      <a class="btn btn-light" href="teams">Teams</a>
    </div>
    <div id="standingsBtn">
      <a class="btn btn-light" href="standings">Standings</a>
    </div>
    <div id="scheduleBtn">
      <a class="btn btn-light" href="schedule">Schedule</a>
    </div>
    <div id="scoreBtn">
      <a class="btn btn-light" href="score">Score</a>
    </div>
    <div id="starredBtn">
      <a class="btn btn-light" href="starred">My <img id="star"
          src="https://img.icons8.com/emoji/48/000000/star-emoji.png"> Players</a>
    </div>
  </div>
</nav>

<h1 id="cardTitle">Current Games</h1>
<div class="container-fluid">
  <div id="currentGames" class="row"></div>
</div>
<br>
<br>

<h1 id="leaderh1">Leader Board</h1>

<div class="container-fluid">

  <div style="text-align: center !important;" class="row">

    <div class="card text-white shadow-lg" style="max-width: 100%;">
      <div class="card-header bg-primary">
        <h3>POINTS</h3>
      </div>
      <div class="card-body bg-light">
        <ul class="list-group list-group-flush text-dark shadow-sm">
          <li class="list-group-item" id="first-points">1. </li>
          <li class="list-group-item" id="second-points">2. </li>
          <li class="list-group-item" id="third-points">3. </li>
        </ul>
      </div>
    </div><br>

    <div class="card text-white shadow-lg" style="max-width: 100%;">
      <div class="card-header bg-primary">
        <h3>ASSISTS</h3>
      </div>
      <div class="card-body bg-light">
        <ul class="list-group list-group-flush text-dark shadow-sm">
          <li class="list-group-item" id="first-assists">1. </li>
          <li class="list-group-item" id="second-assists">2. </li>
          <li class="list-group-item" id="third-assists">3. </li>
        </ul>
      </div>
    </div><br>


    <div class="card text-white shadow-lg" style="max-width: 100%;">
      <div class="card-header bg-primary">
        <h3>REBOUNDS</h3>
      </div>
      <div class="card-body bg-light">
        <ul class="list-group list-group-flush text-dark shadow-sm">
          <li class="list-group-item" id="first-rebounds">1. </li>
          <li class="list-group-item" id="second-rebounds">2. </li>
          <li class="list-group-item" id="third-rebounds">3. </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<br>

<!-- Custom Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
<script src="js/sportRadarCurrent.js" type="text/javascript"></script>
<script src="js/sportRadarStats.js" type="text/javascript"></script>