<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(35, 79, 167)">

  <img id="navImg" src="../assets/img/nbaLogo.png">

  <a href="/" class="navbar-brand">NBA FANBOI</a>
  <div id="images">
    <img id="bounceimg" src="../assets/img/bounce.gif"><img id="hoop" src="../assets/img/hoop.png">
  </div>

  <div id="navBtns" class="row">
    <div id="teamsBtn">
      <a class="btn btn-light" href="teams">Teams</a>
    </div>
    <div id="standingsBtn">
      <a class="btn btn-light" href="standings">Standings</a>
    </div>
    <div id="scheduleBtn">
      <a class="btn btn-light" href="schedule">Schedule</a>
    </div>
    <div id="starredBtn">
      <a class="btn btn-light" href="starred">My <img id="star"
          src="https://img.icons8.com/emoji/48/000000/star-emoji.png"> Players</a>
    </div>
    <div>
      <a class="btn btn-light" href="/"> Sign Up</a>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <div class="row">
    <img class="mx-auto" style="width: 60%; height:auto" src="../assets/img/fanboiLogo.png">
  </div>
  <h2 class="text-white text-center">Log In</h2>
  <br>
  <div class="row">
    <form class="login form-inline mx-auto">
      <div class="form-group">
        <label class="text-white" for="exampleInputEmail1"></label>
        <input type="email" class="form-control mr-3" id="email-input" placeholder="Email">
      </div>
      <div class="form-group">
        <label class="text-white" for="exampleInputPassword1"></label>
        <input type="password" class="form-control mr-3" id="password-input" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
    <br />
  </div>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>