<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(35, 79, 167)">

    <img id="navImg" src="../assets/img/nbaLogo.png">

    <a href="/" class="navbar-brand">NBA FANBOI</a>
    <div id="images">
        <img id="bounceimg" src="../assets/img/bounce.gif"><img id="hoop" src="../assets/img/hoop.png">
    </div>

    <div id="navBtns" class="row">
        <div id="teamsBtn">
            <a class="btn btn-light" href="teams">Teams</a>
        </div>
        <div id="standingsBtn">
            <a class="btn btn-light" href="standings">Standings</a>
        </div>
        <div id="scheduleBtn">
            <a class="btn btn-light" href="schedule">Schedule</a>
        </div>
        <div id="scoreBtn">
            <a class="btn btn-light" href="score">Score</a>
        </div>
        <div id="starredBtn">
            <a class="btn btn-light" href="starred">My <img id="star"
                    src="https://img.icons8.com/emoji/48/000000/star-emoji.png"> Players</a>
        </div>
    </div>


</nav>
<br>

<div id="schedule"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/sportRadarSchedule.js"></script>