<h1>WEST STANDINGS:</h1>
<ul id="west-list" style="max-width: 100%; float: left;"></ul>
<h1>EAST STANDINGS:</h1>
<ul id="east-list" style="max-width: 100%; float: left;"></ul>

<script src="js/sportRadarStats.js" type="text/javascript"></script>