    <ul class="list-group">
        <li class="list-group-item">Atlanta Hawks</li>
        <li class="list-group-item">Boston Celtics</li>
        <li class="list-group-item">Brooklyn Nets</li>
        <li class="list-group-item">Charlotte Hornets</li>
        <li class="list-group-item">Chicago Bulls</li>
        <li class="list-group-item">Cleveland Cavaliers</li>
        <li class="list-group-item">Dallas Mavericks</li>
        <li class="list-group-item">Denver Nuggets</li>
        <li class="list-group-item">Detroit Pistons</li>
        <li class="list-group-item">Golden State Warriors</li>
        <li class="list-group-item">Houston Rockets</li>
        <li class="list-group-item">Indiana Pacers</li>
        <li class="list-group-item">Los Angeles Clippers</li>
        <li class="list-group-item">Los Angeles Lakers</li>
        <li class="list-group-item">Memphis Grizzlies</li>
        <li class="list-group-item">Miami Heat</li>
        <li class="list-group-item">Milwaukee Bucks</li>
        <li class="list-group-item">Minnesota Timberwolves</li>
        <li class="list-group-item">New Orleans Pelicans</li>
        <li class="list-group-item">New York Knicks</li>
        <li class="list-group-item">Oklahoma City Thunder</li>
        <li class="list-group-item">Orlando Magic</li>
        <li class="list-group-item">Philadelphia 76ers</li>
        <li class="list-group-item">Phoenix Suns</li>
        <li class="list-group-item">Portland Trail Blazers</li>
        <li class="list-group-item">Sacramento Kings</li>
        <li class="list-group-item">San Antonia Spurs</li>
        <li class="list-group-item">Toronto Raptors</li>
        <li class="list-group-item">Utah Jazz</li>
        <li class="list-group-item">Washington Wizards</li>
      </ul>

        <script src="js/sportRadarTeams.js" type="text/javascript"></script>