body {
    background-image: url("../assets/img/court.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#navBtns {
    position: absolute !important;
    right: 320px !important;
    background-color: rgb(35, 79, 167) !important;
}

.btn-light {
    background-color: transparent !important;
    border: none;
    color: white;
}

.navbar {
    border: 3px solid white;
    margin-bottom: 40px !important;
}

.navbar-brand {
    float: left !important;
    position: absolute !important;
    left: 60px;
    color: white !important;
    font-size: 45px !important;
    font-family: fantasy;
}

#starredBtn {
    margin-left: 10px;
}

#navImg {
    height: 55px;
}

#cardTitle {
    text-align: center;
    font-family: fantasy;
    /* background-color: lightgray; */
    color: white;
}

.card-header {
    text-align: center;
}

.list-group-item {
    /* font-weight: bold; */
    background-color: darkorange;
    color: white;
    padding: 10 !important;
    font-size: 20px;
    font-style: italic;
}

.teamText {
    font-size: 0px;
    color: orange;
}

.card {
    border: 3px solid rgb(2, 2, 196);
    /* margin-right: 20px; */
    /* height: 480px !important; */
    width: 300px !important;
    height: 400px !important;
    margin: 20PX !important;
}

#bounceimg {
    height: 200px;
    margin-top: 25px;
}

#hoop {
    height: 120px;
    margin-top: 40px !important;
    /* float: right; */
}

#images {
    position: absolute;
    right: 0 !important;
}

.teamImgs {
    height: 60px !important;
}

.teamImgs2 {
    height: 200px !important;
    width: 200px !important;
}

#star {
    height: 20px;
    margin-bottom: 5px;
}

#star2 {
    height: 25px;
}

.teamList {
    border: 3px solid rgb(0, 0, 212);
    padding: 0 !important;
    text-align: center;
}

h3 {
    font-family: fantasy;
    font-weight: bold;
}